.sections-preview {
    margin: 60px 0;
}

.sections-preview__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.sections-preview__list {
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос */
    gap: 20px;
    list-style: none;
}

.sections-preview__item {
    flex: 1 1 calc(25% - 20px); /* 4 карточки в ряд */
    min-width: 100px;
}